/*STYLES GENERAUX*/
*{
    font-family:   Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
   
}
body{
    background-color: rgb(248, 242, 242);
}
p{
    font-size: 16px;
    line-height: 1.5em;
    color:rgb(7, 7, 7);
}
a{
    text-decoration: none;
    color: #000;
}
h2 {
    color: rgb(75, 39, 35);
    font-size: 20px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}
.chantecler {
    color: rgb(133, 10, 10);
}

/*HEADER & FOOTER*/
header, footer{
    width: 100%;
    padding: 20px 0px;
 
    box-shadow: 0px 0px 15px #333;
    background-color: rgb(5, 126, 156);
}
header{
    border-bottom: 2px solid #fff;
    height: 120px;
}
header h1{
    font-family: mistral ;
    text-shadow: 10px 10px 10px rgb(14, 13, 13);
    color: rgb(250, 211, 218);
    font-size: 30px;
    width: 90%;
    margin: 0 auto;
}

footer{
    border-top: 2px solid #fff;
}
footer p{
    width: 90%;
    margin: 0 auto;
    color: rgb(10, 0, 0);
    text-align: center;
}
footer a{
    color: rgb(39, 34, 34);
}

/*SECTIONS*/
section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
}

section h2{
    margin: 20px 0;
    width: 90%;
}
section > div{
    width: 90%;
}
section h3 {
    color:rgb(5, 126, 156)
}

/*SECTION INFOS*/
.photo{
    text-align: center;
}
.photo img{
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: -60px;
}
.prez{
    border-bottom: 2px dashed #ccc;
}
.prez a{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px auto 30px auto;
    color: #fff;
    background-color: rgb(216, 117, 117);
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
}
.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-flex p:first-child{
    flex: 0 0 40%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}
.social{
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}
.social img{
    width: 40px;
    height: 40px;
}




/*SECTION INTERETS*/
.interet{
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
}
.interet img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
}

/*VERSION BUREAU DU CV*/
@media screen and (min-width: 980px){
    section{
        width: 80%;
        box-shadow: 0px 0px 10px #bbb;
    }
    a:hover{
        color: rgb(100, 58, 240);
    }
    header h1{
        width: 80%;
    }
    .prez, .contact{
        flex: 0 0 45%;
    }
    .prez{
        border-bottom: none;
        border-right: 2px solid #ccc;
        padding-right: 20px;
        margin-left: auto;
    }
    .contact{
        padding-left: 20px;
        margin-right: auto;
    }
    .prez a{
        border: 2px solid transparent;
    }
    .prez a:hover{
        color: #d8c1c1;
        background-color: rgb(10, 9, 9);
        border: 2px solid #250a0c;
        box-shadow: 0px 0px 20px #666;
    }
    .exp-logo{
        flex: 0 0 10%;
    }
    .exp-info, .exp-desc{
        flex: 0 0 85%;
        margin-left: auto;
    }
    .interet{
        flex: 0 1 25%;
    }
}